:root {
    --Marineblue: hsl(213, 96%, 18%);
    --Purplishblue: hsl(243, 100%, 62%);
    --Pastelblue: hsl(228, 100%, 84%);
    --Lightblue: hsl(206, 94%, 87%);
    --Strawberryred: hsl(354, 84%, 57%);

    --Coolgray: hsl(231, 11%, 63%);
    --Lightgray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);
}

.dataInfo {
    display: flex;
}

.lastPcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.thankYou {
    width: 50px;
    width: 70%;
    margin-bottom: 2rem;
}

.lastPage {
    width: 100px;
}

.lastPcontainer h2 {
    font-size: 30px;
    color: var(--Marineblue);
}
.lastPcontainer p {
    margin-top: 1.5rem;
    width: 70%;
    color: var(--Coolgray);
    line-height: 1.7;
    font-size: 17px;
}

@media (max-width: 830px) {
    .lastPcontainer {
        transform: translateY(3rem);
    }
}
